<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body class="nav-md">
	<div  class="container body">
		<div class="main_container">
			
			<!-- footer content -->
			<footer th:fragment="footer">
				<div class="pull-right">
					@All copy right reserved to <a href="https://sendbooth.com">Send
						Booth</a>
				</div>
				<div class="clearfix"></div>
			</footer>
			<!-- /footer content -->
		</div>
	</div>

</body>
</html>
